# Daemon settings
config:
  core.https_address: '{{ host_wireguard_address_range | replace("0/24", "2") }}:8443'
  core.trust_password: {{ lxd_core_trust_password }}
  images.auto_update_interval: 6

# Storage pools
storage_pools:
- config: {}
  description: ""
  name: default
  driver: dir

# Network devices
networks:
- name: lxdbr0
  description: ""
  type: bridge
  managed: true
  config:
    ipv4.address: auto
    ipv6.address: none

# Profiles
profiles:
- name: default
  description: Default LXD profile
  devices:
    eth0:
      name: eth0
      network: lxdbr0
      type: nic
    root:
      path: /
      pool: default
      type: disk
  config: {}

cluster: null
