#!/bin/sh
IPT="/sbin/iptables"

# By default, drop everything except outgoing traffic
$IPT -P INPUT DROP
$IPT -P FORWARD DROP
$IPT -P OUTPUT ACCEPT


## General Rules
################

# Allow incoming and outgoing for loopback interfaces
$IPT -A INPUT -i lo -j ACCEPT
$IPT -A OUTPUT -o lo -j ACCEPT

# ICMP rule
$IPT -A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# Allow established connections:
$IPT -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT


## HAProxy Ports
################

# Allow HTTP and HTTPS
$IPT -A INPUT -p tcp -m tcp --dport 80 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp --dport 443 -j ACCEPT

## !!!!
## TEMP: FOR TESTING Remove before publishing
## !!!!
# Allow HAProxy Admin (TCP port 6080) from wireguard network only
$IPT -A INPUT -p tcp -m tcp -s 10.0.1.0/24 --dport 6080 -j ACCEPT


## Webhook Ports
################

# Allow webhook port (TCP port 9000) from LXD DMZ and frontend networks
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_dmz_network_part }}.0/24 --dport 9000 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_frontend_network_part }}.0/24 --dport 9000 -j ACCEPT
