Port {{ host_new_ssh_port }}

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

AllowUsers {{ host_non_root_user }}

Match Address {{ host_wireguard_address_range }}
  AuthenticationMethods publickey
