# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

password: '{{ project_admin_password }}'
email: '{{ project_admin_email }}'
fullname: 'Grav Administrator'
title: 'Site Administrator'
access:
  admin:
    login: true
    super: true